<div>
    <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="/home" routerLinkActive="active-link"><span>Home</span></a>
        <a mat-tab-link routerLink="/solar" routerLinkActive="active-link"><span>Solar panel</span></a>
        <a mat-tab-link routerLink="/weather" routerLinkActive="active-link"><span>Weather stations</span></a>
        <a mat-tab-link routerLink="/battery" routerLinkActive="active-link"><span>Battery</span></a>
    </nav>

    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
</div>