app-panel-data-card {
    margin: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 1em;
}

app-panel-data-card {
    max-width: 300px;
    margin: auto;
}

app-solar-panel-graph {
    width: 100%;
    margin: auto;
}