<div>
    <!-- <mat-card class="container">
        <mat-card-header>
            <mat-card-title>Latest restart</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>{{restart}}</p>
        </mat-card-content>
    </mat-card> -->

    <div class="row">
        <div>
            <app-panel-data-card title="Latest solar panel data" [panelData]="latestPanelData" [loading]="loadingPanel"></app-panel-data-card>
        </div>

        <div>
            <app-weather-latest title="Latest weather data" [weatherData]="latestWeatherData" [loading]="loadingWeather"></app-weather-latest>
        </div>
    </div>


    <div class="container">
        <app-battery-summary></app-battery-summary>
    </div>

    <mat-card class="container">
        <mat-card-header>
            <mat-card-title>Coming soon!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Battery data mixed with weather data for home view</p>
        </mat-card-content>
    </mat-card>

</div>